<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="apiurl" value="https://bidv.net:9303/bidvorg/service" />
    <add key="sso" value="/openapi/oauth2/token"/>
    <add key="allacctbal" value="/open-banking/secu-app/v1/allacctbal"/>
    <add key="getfile" value="/open-banking/secu-app/v1/getfile"/>
    <add key="client_id" value="d0ec4e8a3e4e961fd08b6ae78a1c2610" />
    <add key="client_secret" value="66fa0479bc049447491e4d8d54f39450" />
    <add key="bsc_symmetric_key" value="3534794A586E455A624F78434B4551574F5031497A4F4B467472385A63684D50" />
  </appSettings>
</configuration>